<FluentInputFile Id="my-file-uploader"
                 Mode="InputFileMode.SaveToTemporaryFolder"
                 Accept="*.xml"
                 OnCompleted="@OnCompletedAsync"
                 Height="200px">
    <ChildContent>
        <label for="my-file-uploader">
            <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" Color="@Color.Primary" />
        </label>

        <div class="@Margin.All2">
            Faites glisser ici le fichier Peppol XML que vous souhaitez afficher.
            ou <label for="my-file-uploader">recherchez le</label>.
        </div>
    </ChildContent>
</FluentInputFile>

@if (Files.Any())
{
    <h4>File(s) uploaded:</h4>
    <ul>
        @foreach (var file in Files)
        {
            <li>
                <b>@file.Name</b> 🔹
                @($"{FileSizeConverter.ToKiloBytes(file.Size):N} KB") 🔹
                @file.ContentType 🔹
                @file.LocalFile?.FullName
                @file.ErrorMessage
            </li>
        }
    </ul>
}

<iframe id="xmlFrame" style="width: 100%; height: 100vh; border: none;"></iframe>