<FluentInputFile Id="my-file-uploader"
                 Mode="InputFileMode.SaveToTemporaryFolder"
                 @bind-ProgressPercent="@Percentage"
                 Accept="*.xml"
                 OnCompleted="@OnCompletedAsync"
                 Height="200px">
    <ChildContent>
        <label for="my-file-uploader">
            <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" Color="@Color.Primary" />
        </label>

        <div class="@Margin.All2">
            Faites glisser ici le fichier Peppol XML que vous souhaitez afficher.
            ou <label for="my-file-uploader">recherchez le</label>.
        </div>
    </ChildContent>
</FluentInputFile>

<iframe id="xmlFrame" style="background-color: white; width: 100%; height: 100vh; border: none;"></iframe>